.gallery {
  width: calc(100% - 3rem);
  min-height: 20rem;
  margin: 2rem 0;
  padding: 1.5rem;
  border-radius: 1.5rem;

  background: var(--neutral-100);
}

.gallery ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 55.5rem) {
  .gallery {
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    border-radius: 0;

    background: white;
  }
}